form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

.mine {
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: space-around;
  border: solid 1.5px;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}